<div class="my-4 md:m-4">
  <%= render "map/map", character: current_character %>
</div>

<div class="m-4 grid grid-cols-2 gap-2">
  <%= render current_character.location %>
  <%= turbo_frame_tag :node do %>
  
  <% end %>
</div>

<%= render current_character %>
