<%= turbo_frame_tag :inventory do %>
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:px-6">
      <h2>Inventory</h2>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <ul class="list-disc list-inside">
        <% inventory.items.each do |item, quantity| %>
          <li>
            <%# <%= image_tag(item.image_path, width: 32, height: 32) %>
            <%= item.name %>, <%= quantity %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

