<%= turbo_frame_tag :inventory do %>
  <strong class="block font-medium mb-1">Inventory:</strong>
  <ul class="my-2">
    <% inventory.items.each do |item, quantity| %>
      <li><%= item.name %>, <%= quantity %></li>
    <% end %>
  </ul>
<% end %>

