<%= turbo_frame_tag :map do %>
  <div class="bg-neutral-900 border-y sm:border border-neutral-600 divide-y divide-neutral-600 overflow-hidden sm:rounded-md shadow-md">
    <div class="p-4 flex gap-2 items-center">
      <%= image_tag("icons/map.png", height: 32, width: 32, class: "pixelized") %>
      <h2 class="font-bold">Map</h2>
    </div>
    <div class="p-4 grid grid-cols-[repeat(auto-fill,minmax(64px,1fr))] gap-2">
    </div>
  </div>
<% end %>

