<section class="divide-y divide-neutral-600">
  <div class="py-3.5 px-4 bg-neutral-950">
    <h2 class="font-semibold">Nodes</h2>
    <p class="text-sm text-neutral-100">Lorem Ipsum about nodes.</p>
  </div>

  <% if location.nodes.any? %>  
    <ul role="list" class="divide-y divide-neutral-800 overflow-hidden bg-neutral-900 shadow-sm ring-1 ring-neutral-900/5">
      <% location.nodes.each do |node| %>
        <li class="relative flex justify-between gap-x-6 px-4 py-3.5 hover:bg-neutral-800">
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
              <%= link_to [ location, node ] do %>
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                <span class="text-sm/6 font-semibold">
                  <%= node.name %>
                </span>
              <% end %>
              <p class="mt flex text-xs/5 text-neutral-200">
                <%= node.id %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      Nothing here.
    </p>
  <% end %>
</section>