<div id="<%= dom_id guild_character %>" class="my-5 space-y-5 flex gap-2">
  <div>
    <strong class="block font-medium mb-1">Character:</strong>
    <%= guild_character.character.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= guild_character.role %>
  </div>
</div>
