<% content_for :title, "Showing guild character" %>

<h1 class="font-bold text-4xl">Showing guild character</h1>

<%= render @guild_character %>

<%= link_to "Edit this guild character", edit_guild_character_path(@guild_character), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
<%= link_to "Back to guild characters", guild_characters_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
<div class="inline-block ml-2">
  <%= button_to "Destroy this guild character", @guild_character, method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
